.web-project-page {
   background-color: var(--main_color);
   min-height: 100vh;
}

.web-project-page .container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   /* align-items: center; */
   overflow: hidden;
   padding: 50px 180px;
}

.web-project-page .web-project-page-top-div {
   height: 300px;
   background-image: url('../../images/postive-caring-relationships-teachers 1 (3).png');
   background-position: center center;
   background-size: cover;
}

.web-project-page .web-project-page-top-div .container {
   flex-direction: column;
   height: 100%;
   justify-content: center;
   padding-bottom: 50px;
}

.web-project-page h2 {
   color: var(--main_font_color);
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   font-family: 'TitleFont';
   text-transform: uppercase;
   background-image: linear-gradient(-225deg, #231557 0%, #010526 29%, #7c1dc9 67%, white 100%);
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   background-clip: text;
   text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 3s linear infinite;
   display: inline-block;
   font-size: 113px;
   text-align: center;
}

.web-project-page-web-development-div {
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: center;
}

.web-project-page-web-development-div-info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.web-project-page-web-development-div h4 {
   color: var(--main_font_color);
   font-size: 32px;
}

.web-project-page-web-development-div-info p {
   color: var(--main_font_color);
   font-size: 20px;
   text-align: center;
}

/* ====================================================== */

.container h1 {
   color: white;
}
.container p {
   color: white;
}
.container p > strong {
   color: mediumslateblue;
}
.container ul {
   color: white;
}
.why_ul {
   list-style-type: square;
}

.Why_to_H {
   color: #7c1dc9;
}

.introducing {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}
.diver {
   width: 70%;
   height: auto;
   margin: 30px auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.diver div {
   width: 200px;
   height: 90%;
   font-size: 23px;
   background: #ddd;
   background-image: linear-gradient(to bottom right, #26716e, #f1e8e8f5);
   padding: 33px;
   margin: 5px;
   text-align: center;
}
.diver div > p {
   font-size: 21px;
   letter-spacing: 1px;
}
.diver div:hover {
   color: #26716e;
   font-weight: 700;
   transform: scale(1.2);
   transition: 1s;
}
.middle_div {
   width: 100%;
   background-color: #f5f5f5;
   text-align: center;
   margin-top: 85px;
   margin-bottom: 100px;
}

.buttons {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.middle_div_title {
   font-size: 28px;
   color: #6d6e70;
}

.middle_div_text {
   width: 30%;
   margin: 0 auto;
   font-size: 18px;
   color: #6d6e70;
}

/* .bi-graph-up-arrow{
   scale: 0.5;
 } */
.middle_div_Allicons {
   display: flex;
   justify-content: center;
   gap: 45px;
   align-items: center;
   flex-wrap: wrap;
   margin: 40px auto;
   padding: 15px 15px 40px 15px;
}

.middle_div_Allicons_names {
   margin-top: 28px;
}

#h4 {
   text-align: center;
   color: #ddd;
}
.container h3 {
   color: #ddd;
}
.container h5 {
   color: #26716e;
   padding-top: 20px;
}
.buttons div {
   color: #ddd;
}
.buttons {
   margin: auto;
   width: 60%;
   height: auto;
   text-align: center;
   padding-bottom: 50px;
}
.inquiry {
   margin: 0 auto;
   width: 100%;
   height: auto;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}
.inquiry div {
   padding-top: 14px;
   margin: 10px;
   width: 250px;
   height: 50px;
   border-radius: 10px;
   background: #414348;
   color: #fff;
   float: left;
}

.inquiry div a {
   text-decoration: none;
   color: #fff;
   font-size: 18px;
}

.redColor {
   color: mediumslateblue;
}

.mediumslateblueColor {
   color: mediumslateblue;
}

/* ===================================== */

.btn-15,
.btn-15 *,
.btn-15 :after,
.btn-15 :before,
.btn-15:after,
.btn-15:before {
   border: 0 solid;
   box-sizing: border-box;
}
.btn-15 {
   -webkit-tap-highlight-color: transparent;
   -webkit-appearance: button;
   background-color: #000;
   background-image: none;
   color: #fff;
   cursor: pointer;
   font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
      Segoe UI Symbol, Noto Color Emoji;
   font-size: 100%;
   font-weight: 900;
   line-height: 1.5;
   margin: 0;
   -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
   padding: 0;
   text-transform: uppercase;
}
.btn-15:disabled {
   cursor: default;
}
.btn-15:-moz-focusring {
   outline: auto;
}
.btn-15 svg {
   display: block;
   vertical-align: middle;
}
.btn-15 [hidden] {
   display: none;
}
.btn-15 {
   border-radius: 10px;
   border-width: 2px;
   overflow: hidden;
   width: 100%;
   height: 100%;
   position: relative;
   z-index: 0;
}
.btn-15 span {
   mix-blend-mode: difference;
}
.btn-15:after,
.btn-15:before {
   --skew: 0.2;
   background: #fff;
   content: '';
   display: block;
   height: 102%;
   left: calc(-50% - 50% * var(--skew));
   pointer-events: none;
   position: absolute;
   top: -104%;
   transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
   transition: transform 0.2s ease;
   width: 103%;
}
.btn-15:after {
   --progress: 0%;
   left: calc(50% + 50% * var(--skew));
   top: 102%;
   z-index: -1;
}
.btn-15:hover:before {
   --progress: 100%;
}
.btn-15:hover:after {
   --progress: -102%;
}

@media (max-width: 1440px) {
   .web-project-page .container {
      padding: 50px 100px;
   }

   .diver {
      grid-template-columns: auto auto;
      width: 100%;
   }
}

@media (max-width: 1024px) {
   .web-project-page h2 {
      font-size: 80px;
   }
   .diver {
      grid-template-columns: auto auto;
      width: 100%;
   }

   .web-project-page .container {
      padding: 50px 80px;
   }
}

@media (max-width: 995px) {
   .web-project-page h2 {
      font-size: 80px;
   }
   .diver {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      grid-template-columns: auto auto;
      width: 100%;
   }

   .web-project-page .container {
      padding: 50px 80px;
   }
}

@media (max-width: 780px) {
   .web-project-page .container {
      padding: 50px;
   }

   .web-project-page p,
   .web-project-page ul,
   .web-project-page .web-project-page .container p {
      font-size: 14px;
   }

   .web-project-page h2 {
      font-size: 60px;
   }

   .web-project-page h4 {
      font-size: 24px;
   }

   .web-project-page h5 {
      font-size: 16px;
   }
   .diver {
      grid-template-columns: auto auto;
      width: 100%;
   }
}

@media (max-width: 630px) {
   .diver {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      grid-template-columns: auto auto;
      width: 100%;
   }
}
@media (max-width: 565px) {
   .diver {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
   }
}

@keyframes textclip {
   to {
      background-position: -200% center;
   }
}
