.change-password-modal{
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.797);
    /* backdrop-filter: blur(10px); */
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.change-password-modal-block{
    width: 80%;
    height: 400px;
    background-color: rgb(56, 60, 162);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}


.change-password-modal-block  h5{
    color: var(--main_font_color);
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}