.video-courses-section-item {
   position: relative;
   width: 300px;
   height: 755px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 10px;
   color: var(--main_font_color);
   gap: 220px;
}

.video-courses-section-item-info-div-1 {
   /* display: flex;
    flex-direction: column;
    row-gap: 10px; */
   width: 100%;
   height: 150px;
}

.video-courses-section-item-info-div-1 span {
   display: block;
}

.video-courses-section-item h2 {
   font-size: 50px;
   border-bottom: 1px solid white;
   width: 100%;
}

.video-courses-section-item-info-div-2 {
   width: 100%;
   border-radius: 20px;
   background: rgba(56, 60, 162, 0.8);
   box-shadow: 2px 2px 4px 0px rgba(39, 42, 123, 0.4);
   padding: 20px;
   max-height: 500px;
   display: flex;
   flex-direction: column;
   row-gap: 30px;
   padding-top: 50px;
}

.video-courses-section-item-info-div-2 div {
   height: 100px;
   display: flex;
   flex-direction: column;
   /* row-gap: 20px; */
}

.video-courses-section-item-info-div-2 div.videoCoursesSectionTitleGround {
   width: 100%;
   background-color: rgba(135, 68, 172, 0.8);
   text-align: end;
}

.videoCoursesSectionTitleGround h1 {
   font-size: 31px;
}

/* .....................modal................. */

.video-courses-section-item-info-div-1-drop {
   position: relative;
}

.video-courses-section-item-info-div-1-drop > div {
   position: absolute;
   top: 50px;
   left: 0;
   width: 200px;
   z-index: 1;
   background-color: #091156;
   transform: rotateX(90deg);
   transform-origin: top center;
   transition: all 0.5s;
   padding: 15px;
   font-size: 14px;
}

.video-courses-section-item-info-div-1-drop:hover > div {
   transform: rotateX(0);
}

div.my_label_btns {
   display: flex;
   flex-direction: row;
   gap: 30px;
   padding-top: 70px;
}

div.my_label_btns > label div {
   width: 100px;
   height: 30px;
   font-size: 13px;
   letter-spacing: 0;
}
