.video-courses-section-item{
    width: 300px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 50px;
    padding: 10px;
    color: #ffffff;
}


.video-courses-section-item-info-div-1{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    height: 150px;
}

.video-courses-section-item h2{
    font-size: 50px;
    border-bottom: 1px solid white;
    width: 100%;
}

.video-courses-section-item-info-div-2{
    width: 100%;
    border-radius: 20px;
    background: rgba(56, 60, 162, 0.80);
    box-shadow: 2px 2px 4px 0px rgba(39, 42, 123, 0.40);
    padding: 20px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 140px;
}

.video-courses-section-item-info-div-2 div{
    height: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

