.btn2{
    color: #FFF;
    font-family: Calibri;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    border: 2px solid white;
}

.btn2:hover{
    color: white;
    background: #9944C0;
    box-shadow:0 0 10px  #9944C0, 0 0 40px #9944C0, 0 0 80px #9944C0;
    transition-delay: 1s;
    border: none;
}

.btn2 span{
    position: absolute;
    display: block;
}

.btn2 span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #9944C0);
}

.btn2:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

.btn2 span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #9944C0);
}

.btn2:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.btn2 span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #9944C0);
}

.btn2:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.btn2 span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #9944C0);
}

.btn2:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

@media(min-width: 1920px){
    .btn2{
        font-size: 25px;
    }
  }

@media (max-width: 1920px){
    .btn2{
        font-size: 20px;
        padding: 15px 20px;
    }
}

@media (max-width: 1440px){
    .btn2{
        font-size: 14px;
    }
}

@media (max-width: 1140px){
    .btn2{
        font-size: 13px;
    }
}

@media (max-width: 720px){
    .btn2{
        font-size: 13px;
    }
}

