.all_modeling3d {
   min-height: 100vh;
   background-color: var(--main_color);
}

.all_modeling3d .container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   /* align-items: center; */
   overflow: hidden;
   padding: 50px 180px;
}

.all_modeling3d .web-project-page-top-div {
   height: 300px;
   background-image: url('../../images/postive-caring-relationships-teachers 1 (3).png');
   background-position: center center;
   background-size: cover;
}

.all_modeling3d .web-project-page-top-div .container {
   flex-direction: column;
   height: 100%;
   justify-content: center;
   padding-bottom: 50px;
}

.all_modeling3d h2 {
   color: var(--main_font_color);
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   font-family: 'TitleFont';
   text-transform: uppercase;
   background-image: linear-gradient(-225deg, #231557 0%, #010526 29%, #7c1dc9 67%, white 100%);
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   background-clip: text;
   text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 3s linear infinite;
   display: inline-block;
   font-size: 113px;
   text-align: center;
}

.web-project-page-web-development-div {
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: center;
}

.web-project-page-web-development-div-info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.web-project-page-web-development-div h4 {
   color: var(--main_font_color);
   font-size: 32px;
}

.web-project-page-web-development-div-info p {
   color: var(--main_font_color);
   font-size: 20px;
   text-align: center;
}

.all_sides {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.top_side_until_Slider {
   width: 60%;
   text-align: center;
   margin-bottom: 60px;
   color: white;
}
.top_side_until_Slider_divs {
   text-align: start;
   margin-top: 20px;
}
.tick_texts {
   font-size: 17px;
   font-weight: 900 !important;
}

/* ///////////////slider side////////////////// */
.slider_side {
   width: 100%;
   background-color: #f5f5f5;
   text-align: center;
   padding: 65px 0;
}
.swiper {
   width: 60%;
   height: 520px;
}

.swiper-slide {
   background-position: center;
   background-size: contain;
}

.swiper-slide img {
   display: block;
   width: 100%;
}

/* //////////////////middle side under Slider//////////////// */
.middle_side_under_Slider {
   width: 60%;
   text-align: center;
}
.middle_side_under_Slider_top_boxes_title_bigDiv {
   width: 90%;
   height: auto;
   margin: 30px auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   /* display: grid;
  grid-template-columns: auto auto auto auto; */
}

.middle_side_under_Slider_top_boxes_title_box {
   min-width: 181px;
   height: 100px;
   font-size: 24px;
   background-image: linear-gradient(to bottom right, #26716e, #f1e8e8f5);
   padding: 18px;
   margin: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   scale: 1;
}

.middle_side_under_Slider_top_boxes_title_box:hover {
   scale: 1.1;
   transition: 0.6s;
}
.middle_side_under_Slider_top_boxes {
   margin-top: 50px;
}
.middle_side_under_Slider_top_boxes_title {
   font-size: 18px;
   color: white;
}

/* //////////////////middle side under Slider textss//////////////// */
.create_3d_model {
   text-align: start;
   margin: 120px 0;
   color: white;
}
.create_3d_model_greenText {
   color: #26716e;
}

.buttons_side {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

/* ///////////////////////table side//////////////////////// */
.table_div {
   width: 72%;
   margin-left: 100px;
   margin-bottom: 10px;
}
table {
   text-align: start;
   font-size: 16px;
}

.table_div th {
   font-weight: 700 !important;
}
.table_div tbody tr:not(:last-child),
.table_div thead tr {
   border-bottom: 2px solid #dddddd;
}
.mod-tab h3 {
   padding-top: 50px;
}
.mod-tab {
   color: white;
}
.mod-tab td {
   color: white;
}
.thead {
   color: #f5f5f5;
}

.ifrem_text {
   text-align: start;
}
.ifrem_text_p {
   padding-top: 50px;
   color: white;
}

@media screen and (max-width: 855px) {
   .top_side_until_Slider {
      width: 77%;
   }
   .middle_side_under_Slider {
      width: 77%;
   }
   .table_div {
      width: 80%;
      margin-left: 0px;
   }
}

@media screen and (max-width: 777px) {
   .middle_side_under_Slider_top_boxes_title_box {
      font-size: 18px;
   }
}
@media screen and (max-width: 693px) {
   .top_side_until_Slider {
      width: 90%;
   }
   .middle_side_under_Slider {
      width: 90%;
   }
   .table_div {
      width: 90%;
   }
}

@media screen and (max-width: 470px) {
   table {
      font-size: 12px;
   }
   .table_div td {
      padding: 3px;
   }
}

@keyframes textclip {
   to {
      background-position: -200% center;
   }
}

.loader {
   color: #5c8374;
   font-weight: bold;
}
.canvs3D {
   width: 60%;
   height: 400px;
}
.universeScene {
   height: 400px;
}
