
.key-word-component{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-image: linear-gradient(to bottom right, #0B0958, #041227);
}

.key-word-component .container{
    padding: 10px 180px;
}

.key-word-component-items{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
}

.key-word-component h4{
    color: var(--main_font_color);
}

.key-word-component-items .key-word-component-item{
   font-weight: 100;
   padding-bottom: 5px;
   color: var(--main_font_color);
}

.key-word-component-items .key-word-component-item:hover{
    border-bottom: 1px solid var(--main_font_color);
}



@media(max-width: 1440px){
    .key-word-component .container{
        padding: 10px 100px;
    }
}


@media(max-width: 1024px){
    .key-word-component .container{
        padding: 10px 80px;
    }
}


@media(max-width: 780px){
    .key-word-component .container{
        padding: 50px;
    }
}