.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

@media (max-width: 1140px) {
  .container {
    max-width: 1140px;
    padding: 0 20px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 100%;
    padding: 0 100px;
  }
}
