.games_container {
   background-color: var(--main_color);
   min-height: 100vh;
}

.games_container.container {
   display: flex;
   justify-content: center;

   flex-direction: column;
   overflow: hidden;
}

.games_container .support-top-div {
   height: 300px;
   background-image: url('../../images/postive-caring-relationships-teachers 1 (3).png');
   background-position: center center;
   background-size: cover;
}

.games_container .mobail-top-div .container {
   flex-direction: column;
   height: 100%;
   justify-content: center;
   padding-bottom: 50px;
}
.games_container h2 {
   color: var(--main_font_color);
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   font-family: 'TitleFont';
   text-transform: uppercase;
   background-image: linear-gradient(-225deg, #231557 0%, #010526 29%, #7c1dc9 67%, white 100%);
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   background-clip: text;
   text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 3s linear infinite;
   display: inline-block;
   font-size: 90px;
   text-align: center;
}
.games_title {
   width: 100%;
   text-align: center;
}
.mobi_title {
   color: white;
   text-align: center;
   padding-bottom: 20px;
   margin-block-start: 0;
   margin-block-end: 0;
   width: 70%;
   margin: 0 auto;
   padding-top: 50px;
}

/* ///////////////slider side////////////////// */
.slider_side {
   width: 100%;
   background-color: #f5f5f5;
   text-align: center;
   padding: 65px 0;
}
.swiper {
   width: 350px;
   height: 520px;
}

.swiper-slide {
   background-position: center;
   background-size: contain;
}

.swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
}

/* ///////////////slider side////////////////// */

.games_Benefits {
   width: 71%;
   text-align: start;
   color: #f5f5f5;
}

.games_text_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

/* ==========uniti============= */

.icon_games {
   overflow: hidden;
   width: 290px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 300px;
   gap: 20px;
}

.icon_games svg {
   transition: all 1s;
}
.icon_games:hover svg {
   transform: scale(1.2);
}

.icon_games p {
   color: white;
   font-size: 30px;
}
.uniti_icon {
   display: flex;
   gap: 200px;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.uniti {
   color: white;
}
.uniti_p {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.uniti_p p {
   font-size: 16px;
   text-align: center;
}

.diver {
   width: 70%;
   height: auto;
   margin: 0px auto;
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.diver div > p {
   font-size: 21px;
   letter-spacing: 1px;
}
.diver div {
   width: 200px;
   height: 90%;
   font-size: 23px;
   background: #ddd;
   background-image: linear-gradient(to bottom right, #26716e, #f1e8e8f5);
   padding: 33px;
   margin: 5px;
   text-align: center;
}
.diver div:hover {
   color: #26716e;
   font-weight: 700;
   transform: scale(1.2);
   transition: 1s;
}
.introducing_p {
   width: 75%;
   color: white;
}
.h1_ul {
   color: white;
}
.h1_ul ul {
   list-style-type: square;
}
.Our_expertise {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.bottom_side {
   width: 70%;
}
.button_title {
   color: white;
   padding-top: 50px;
}

@keyframes textclip {
   to {
      background-position: -200% center;
   }
}
