.createItemWebsitesAndMobileApp {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.createItemWebsitesAndMobileApp h4{
    background-color: #2D318A;
    color: var(--main_font_color);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 350px;
    padding: 7px;
    border-radius: 10px;
}


.createItemWebsitesAndMobileApp p{
    color: var(--main_font_color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all .6s;
    transform-origin: top center;
}



@media(max-width: 1024px){
    .createItemWebsitesAndMobileApp p{
        font-size: 16px;
    }
}



@media(max-width: 480px){
    .createItemWebsitesAndMobileApp h4{
        font-size: 20px;
    }

    .createItemWebsitesAndMobileApp p{
        font-size: 14px;
    }
}
