

.mosaic-grid {
  column-count: 4;
  column-gap: 10px;
  padding: 100px 0;
}


.mosaic-grid-item{
  
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    position: relative;
}


.mosaic-grid-item > img {
  grid-row: 1 / -1;
  grid-column: 1;
  border-radius: 20px;
}

img {
  max-width: 100%;
  display: block;
}


.mosaic-grid-item-text-div{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 66;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.451);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  transform: rotateY(90deg);
  transition: all 1s;
}


.mosaic-grid-item:hover .mosaic-grid-item-text-div{
  transform: rotateY(0);
}
 
.mosaic-grid-item-text-div p{
  font-size: 13px;
}

@media(max-width:1024px){
  .mosaic-grid{
    column-count: 3;
  }
  .mosaic-grid-item-text-div p{
    font-size: 11px;
  }
}