.register{
    background-color:#010526;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.register .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    height: 100%;
    column-gap: 100px;
}

.register .container form{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.register .container form input {
    width: 383px;
    height: 40px;
    border: 1px solid white;
    background-color: transparent;
    padding: 10px;
    outline: none;
    color: white;
}

.register .container form p{
    color: red;
    font-size: 13px;
}


.register .container form h2{
    color: var(--Withe, #FFF);
    font-family: Calibri;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.register .container form h6{
    color: #FFF;
    font-family: Calibri;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}

.register .container form h6 a{
    color: #FFF;
    font-family: Calibri;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    text-decoration-line: underline;
}

.reg_img_div{
    width: 900px;
    height: 400px;
}
.reg_img_div > canvas {
    width: 100% !important;
    height: 100% !important;
}

.password-inp, .confirmPassword-inp {
    position: relative;
}

.password-inp span > svg, .confirmPassword-inp span{
    position: absolute;
    right: 10px;
    top: 10px;
}

@media(max-width:1024px){
    .reg_img_div{
        width: 600px;
        height: 300px;
    }
    .register .container{
        flex-direction: column-reverse;
    }
}


@media(max-width:720px){
    .reg_img_div{
        width: 400px;
        height: 200px;
    }
    .register .container{
        flex-direction: column-reverse;
    }

    .register .container form h2{
        font-size: 20px;
    }
    .register{
        padding: 30px 20px;
    }
}

@media(max-width:480px){
    .reg_img_div{
        width: 300px;
        height: 200px;
    }
    .register .container{
        flex-direction: column-reverse;
    }

    .register .container form h2{
        font-size: 20px;
    }
    .register{
        padding: 30px 20px;
    }

    .register .container form input{
        width: 300px;
    }
}

