#lng{
    outline: none;
    background-color: #010526;
    border: none;
    color: white;
    font-size: 15px;
}


@media(min-width: 1920px){
     #lng{
        font-size: 20px;
    }
  }


@media(max-width: 1920px){
     #lng{
        font-size: 17px;
    }
  }

@media(max-width: 1440px){
     #lng{
        font-size: 15px;
    }
  }


  @media(max-width: 1140px){
     #lng{
        font-size: 13px;
    }
  }